<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <a class="btn" href="/">Home</a>
        <% if logged_in? %>
          <a class ="btn" href='/logout'>logout <%=current_user.name%></a></li>
          <a class ="btn" href='/new_post'>submit</a></li>
        <% else %>
          <a class ="btn" href='/login_signup'>Login/Signup</a></li>
        <% end %>
      <h1>HackerNews</h1>
    <header/>
    <%= yield %>
 </div>

</body>
</html>
