<h3>Signup:</h3>
<form method="post" action="/signup">
  Name:<br>
  <input type='text' name="user[name]" placeholder="enter your name"><br><br>
  Email:<br>
  <input type='email' name="user[email]"placeholder="enter your email"></br><br>
  Password:<br>
  <input type='password' name="user[password]" placeholder="set a password"></br><br>
  <input type='submit' value='Signup'>
</form></br>


<h3>Login:</h3>
<form method="post" action="/login">
  Email:<br>
  <input type='email' name="email" placeholder="email"><br><br>
  Password:<br>
  <input type='password' name="password" placeholder="pass"><br><br>
  <input type='submit' value='Login'>
</form>