<form method="post" action="/new_post">
  <input type="text" name="title" placeholder="Title" autofocus="autofocus">
  <textarea name="body" placeholder="enter your comments!"></textarea>
  <input type="submit" value="submit">
</form>
