<h3>New HN Post</h3>
<form method="post" action="/new_post">
	Title:<br>
  <input type="text" name="title" placeholder="Title" autofocus="autofocus"><br><br>
  Content:<br>
  <textarea class='text_box' name="body" placeholder="Write your post here"></textarea><br><br>
  <input type="submit" value="submit">
</form>
